div.author div.title {
    width: 100%;
    height: 4.5rem;
    border-bottom: 0.1rem solid rgb(230, 230, 230);
}

div.author div.title p {
    font-size: 2.3rem;
}

div.author div.head_name {
    width: 100%;
    height: 21rem;
    border-bottom: 0.1rem solid rgb(230, 230, 230);
}

div.author div.head_name div.head {
    width: 7rem;
    height: 7rem;
    margin: 0 auto;
    position: relative;
    top: 4rem;
}

div.author div.head_name img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

div.author div.head_name div.name {
    position: relative;
    top: 5rem;
    text-align: center;
}

div.author div.head_name div.name p.name {
    font-size: 2rem;
}

div.author div.head_name div.name p.describe {
    font-size: 1.5rem;
    line-height: 4rem;
    color: grey;
}

div.author div.adress {
    width: 100%;
    height: 100px;
}

div.author div.adress table {
    margin:0 auto;
}


div.author div.adress div.icon {
    display: table;
    width: auto;
    margin: 0 auto;
    position: relative;
    top: 2rem;

}


div.author div.adress ion-icon {
    margin: 0.5rem;
    color: black;
    width: 4rem;
    height: 4rem;
}

div.articals div.head {
    width: 100%;
    height: 4.5rem;
    border-bottom: 0.1px solid rgb(230, 230, 230);
}

div.articals div.head p{
    font-size: 2.3rem;
}

div.articals div.artical {
    margin: 2rem;
    width: auto;
    min-height: 7rem;
    padding: 1.2rem;
    border: 0.1rem solid rgb(230, 230, 230);
    border-radius: 1rem;

}

div.articals div.artical:hover {
    box-shadow: 0.2rem 0.2rem 0.5rem black;
    -moz-box-shadow: 0 0.2rem 1rem 0.1rem rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0.2rem 1rem 0.1rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.2rem 1rem 0.1rem rgba(0, 0, 0, 0.2);
}


div.articals div.artical div.time {
    border-bottom: 0.1rem solid rgb(230, 230, 230);
}

div.articals div.artical div.time p {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}

div.articals div.artical a {
    text-decoration: none;
    color: black;
}

div.articals div.artical div.artical_content h4 {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    font-size: 2rem;
}

div.articals div.artical div.artical_content p {
    font-size: 1.4rem;
}

div.articals div.tr_page {
    display: table;
    margin-bottom: 3rem;
    width: auto;
    height: 8rem;
    margin: auto;

}

div.previous, div.next {
    margin-top: 2.5rem;
    width: 7rem;
    height: 4rem;
    border-radius: 0.8rem;
    border: 0.1rem solid rgb(230, 230, 230);
    float: left;
    font-size: 2.5rem;
    color: gray;
}

div.how_many {
    margin: 2.5rem;

    width: 5rem;
    height: 4rem;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 0.8rem;
    font-size: 2.5rem;
    text-align: center;
    float: left;
}

div.next p {
    float: right;
}