div.information {
    width: 100%;
    min-height: 25rem;
    background-color: black;
    padding-top: 8rem;
}

div.information div.inf_main {
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

div.information div.inf_main  div.time div {
    float: left;
    margin-right: 3rem;
}

div.information div.inf_main div.title p{
    margin-top: 4rem;
    color: white;
    font-size: 3rem;
}

div.artical_main {
    width: 90%;
    margin: 0 auto;
}

div.artical_main div.put_message textarea {
    font-size: 1.6rem;
    margin-bottom: 1.8rem;
    width: 100%;
}