div.information {
    width: 100%;
    min-height: 30rem;
    background-color: black;
    padding-top: 8rem;
}

div.information div.inf_main {
    height: 100%;
    width: 45%;
    margin: 0 auto;
}

div.artical_main {
    width: 45%;
    margin: 0 auto;
}

div.information div.inf_main  div.time div {
    float: left;
    margin-right: 6rem;
}

div.information div.inf_main div.title p{
    margin-top: 8rem;
    color: white;
    font-size: 4rem;
}

div.artical_main div.put_message textarea {
    font-size: 1.6rem;
    margin-bottom: 1.8rem;
}