div.head {
    margin-left: auto;
    margin-right: auto;
    height: 190px; 
    width: 140px;
    margin-top: 180px;

}



div.head img{
    width: 140px;
    height: 140px;
    display: block;
    float: left;
    border-radius: 50%;
}


div.head p{
    text-align: center;
    font-size: 30px;
    color: white;
}


div.radicus {
    background-color: red;
    width: 500px;
}

div.interduce {
    width: 666px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}

div.interduce p {
    text-align: center;
    color: white;
    font-size: 14px;
}

div.interduce nav {
    text-align: center;
}

div.interduce nav a{
    color: white;
    font-size: 17px;
    text-decoration: none;
}

div.interduce nav a:hover{
    color: blue;
}

