{% extends 'base.html' %}

{% block CSS %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/artical/base-v1.0.css') }}" charset="utf-8" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/artical/PC-v1.0.css') }}" charset="utf-8" media="screen and (min-width: 640px)" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/artical/mobile-v1.0.css') }}" charset="utf-8" media="screen and (max-width: 639px)"/>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/artical/codeStyle-v1.0.css') }}" charset="utf-8" />
<script src="{{ url_for('static', filename='js/highlight.js') }}"></script>
<script>hljs.initHighlightingOnLoad();</script>

{% endblock %}

{% block content %}
<div class="information">
    <div class="inf_main">
        <div class="title">
            <p>{{ theme }}</p>
        </div>
        <div class="time">
            <div class="img">
                <img src="{{ url_for('static', filename='img/head.jpg') }}" class="head">
            </div>
            <div class="author">
                <p class="title">Author</p>
                <p class="content">Adrian</p>
            </div>
            <div class="t">
                <p class="title">Published</p>
                <p class="content">{{ time }}</p>
            </div>
        </div>
        <div class="label">
            <p>
                {% for label in labels %}
            <a href="{{ url_for('searchLabel', label_id=label.id, page=1, label_name=label.name) }}">#{{ label.name }}</a>
                {% endfor %}
            </p>
        </div>
    </div>
</div>
<div class="artical_main">
    <div class="artical_content">
        {{ artical.content | safe}}
    </div>
    <div class="message">
        <p class="theme">评论</p>
        {% for message in messages %}
        <div class="mes_information">
            <strong><p class="name">{{ message.name }}</p></strong>
            <p class="time">{{ message.time }}</p>
        </div>
            <p class="content">{{ message.content }}</p>
        <hr />
        {% endfor %}
    </div>
    <div class="put_message">
        <p class="theme">撰写评论</p>
        <form method="POST" action="/put_message/" name="put_message">
            <input type="hidden" value="{{ artical.id }}" name="id">
            <p class="remind">评论*</p>
            <textarea name="content" rows="8" cols="45" required></textarea>
            <p class="remind">昵称*</p>
            <input class="put" type="text" name="name" required>
            <p class="remind">电子邮件*</p>
            <input class="put" type="email" name="email" required>
            <br />
            <br />
            <input class="submit" type="submit" value="提交">
        </form>
    </div>
</div>
{% endblock %}