{% extends 'base.html' %}

{% block content %}
<div class="main">
    <form method="POST" enctype=multipart/form-data action="/backstage_md_file/" name="md_file">
        <h3>文件</h3>
        <input class="input_file" type="file" accept=".md" name="file" required>
        <br />
        <br />
        <h3>标签</h3>
        {% for label in labels %}
        <input class="label" type="checkbox" name="label" value="{{ label.id }}" id="{{ label.name }}"><label for="{{ label.name }}">{{ label.name }}</label><br />
        {% endfor %}
        <br />
        <input class="submit_back" type="submit" value="提交">
    </form>
    <br />
    <form method="POST" action="/backstage_lable/" name="lable">
        增加新标签:<input class="new_label" type="text" name="new_label">
        <input class="submit_back" type="submit" value="确定">
    </form>
    
</div>
{% endblock %}