{% extends 'base.html' %}

{% block content %}
<div class="main" style="font-size: 2rem;">
    <hr />
    <form method="POST" enctype=multipart/form-data action="/backstage_md_file/" name="md_file">
        <h3>文件</h3>
        <input class="input_file" type="file" accept=".md" name="file" required>
        <br />
        <br />
        <h3>标签</h3>
        {% for label in labels %}
        <input class="label" type="checkbox" name="label" value="{{ label.id }}" id="{{ label.name }}"><label for="{{ label.name }}">{{ label.name }}</label><br />
        {% endfor %}
        <br />
        <input class="submit_back" type="submit" value="提交">
    </form>
    <hr />
    <form method="POST" action="/backstage_lable/" name="lable">
        <h3>增加新标签</h3>
        <input class="new_label" type="text" name="new_label">
        <input class="submit_back" type="submit" value="确定">
    </form>
    <hr />
    <form method="POST" action="/backstage_delet/" name="delet">
        <h3>需要删除的文章(支持多文章以","隔开)</h3>
        <input class="artical_delet" type="text" name="delet">
        <input class="artical_delet_submit" type="submit" value="确定">
    
    </form>
    
    
</div>
{% endblock %}