<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mr.Yan-{{ theme }}</title>
        <link rel="shortcut icon" href="{{url_for('static',filename='img/favicon.ico')}}" type="image/x-icon"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/baseStyle-v1.0.css') }}" charset="utf-8" />
        {% block css %}
        {% endblock %}
    </head>
    <body>
        <div class="head">
            <div class="name">
                <p>{{ theme }}</p>
            </div>
            <div class="menu">
                <nav>
                    <a href="{{ url_for('home') }}">Home</a>
                    <a href="{{ url_for('note', page=1) }}">Note</a>
                    <a href="{{ url_for('aboutMe') }}">About_Me</a>
                </nav>
            </div>
        </div>
        {% block content %}
        <div class="main">
            <p>如果你看见这个，那大概率是遇见404了。请不要随便改地址，也没啥好东西。有问题请联系邮箱吧！</p>
        </div>
        {% endblock %}
        <footer>
            <p>页脚暂时还没想好写啥，就给大家拜个早年吧！</p>
        </footer>
    </body>
</html>