<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ theme }}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/base-v1.0.css') }}" charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/PC-v1.0.css') }}" charset="utf-8" media="screen and (min-width: 640px)" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/mobile-v1.0.css') }}" charset="utf-8" media="screen and (max-width: 639px)"/>
        {% block CSS %}
        {% endblock %}

        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    </head>
    <body>
        <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script><!--图标-->

        <div class="main">
            <div class="nav">
                <div class="nav_main">
                    <div class="nav_sign">
                        <p>Adrian_Yan</p>
                    </div>
                    <div class="nav_content">
                        <ion-icon name="reorder-two-outline" class="two-lines"></ion-icon>
                        <ul>
                            <li><a href="{{ url_for('home') }}">首页</a></li>
                            <li><a href="{{ url_for('note', page=1) }}">文章</a></li>
                            <li><a href="{{ url_for('aboutMe') }}">关于</a></li>
                        </ul>

                    </div>

                </div>

            </div>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
            <div class="footer">
                <footer>
                    <p>© 2020 – 2020 严泽旭</p>
                    <p>Powered by Flask</p>
                </footer>
            </div>
        </div>
    </body>
</html>